@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url("./fonts/Minecraft.ttf") format("opentype");
  font-weight: normal;
}

:root {
  font-family: monospace, Helvetica, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

@media screen and (max-width: 768px) {
}
